vendedor: 4
prod_sort: Curva ABC
url_base: https://tapleanhub.ddnsfree.com
test_url_base: http://localhost:5000
token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwdWJsaWNfaWQiOiI4YzljZTkxYS1lYmEyLTRiYWYtYWUzZi1jNjEwZjZhNmI2YTgiLCJleHAiOjE2OTQ1Mzk2Nzl9.--sevv9cuTxb5CmNZnbQBqsGQidi8apeJSV0ju7Hm0Q
versao: 1.0.2
